.small {
  font-size: smaller;
}

.textcenter {
  text-align: center;
}

.background {
  background-color: lightblue;
}

footer {
  float: bottom;
}

.borderbox {
  border: 1px gray;
}

/* .strike {
  
} */